section {
  height: 100vh;
  scroll-snap-align: start; /* Snap at the start of each section */
  position: relative;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
  transition: font-size 0.3s ease; /* Smooth transition for font size change */
}

.title{
  position: absolute;
  bottom: -22%;
  left: 0;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
  font-weight: 250;
  font-size: 1300%;
  animation: moveFont 5s infinite alternate, changeColor 5s infinite alternate;
}

.author{
  position: absolute;
  right: 0;
  bottom: 22%;
}

p{
  width: 80%; /* Adjust the width as per your preference */
  max-width: 800px; /* Optional: Set a maximum width to prevent it from becoming too wide */
  margin: auto; /* Center the section horizontally */
  padding: 20px; /* Optional: Add padding to the sides */
  top: 60%;
  line-height: 1.1; /* Increase line height */
}

.p-1{
  position: absolute;
  top: 0;
  right: 0%;
  font-size: 700%;
}


.title a { 
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

@keyframes moveFont{
  0% {
    font-variation-settings: 'ital' 0, 'wght' 100;
  }
  100% {
    font-variation-settings: 'ital' 0, 'wght' 950;
  }
}

@keyframes changeColor {
  0% {
      color: #000000; /* Start color */
  }
  50% {
      color: #484747; /* Mid color */
  }
  100% {
      color: #ffffff; /* End color */
  }
}

.author{
  position: absolute;
  right: 0;
  font-size: 300%;
}
