body{
    margin: 0%;
}

section{
    position: absolute;
    height: 100vh;
    margin: 0;
    padding: 0%;
}

p{
    position: relative;
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 350;
    font-size: 200%;
    padding: 15px;
}

.hover-image{
    width: 50%; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.hover-image:hover {
    transform: scale(7);
}